@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0e27;
  --foreground: #ffffff;
}

html {
  background: var(--background);
}

body {
  color: var(--foreground);
  background: transparent;
  font-family: var(--font-inter), sans-serif;
}
